/* you can add to or change this. */

#game div {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

.card-item {
  border-radius: 10%;
}

h1 {
  text-align: center;
  padding: 30px;
}

.container {
  width: 800px;
}
