/* you can add to or change this. */

#game {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#game div {
  border: 1px solid black;
  width: 80px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

.card-item {
  border-radius: 10%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  visibility: hidden;
}

h1 {
  text-align: center;
  padding: 30px;
  font-family: 'Press Start 2P';
}

.container {
  width: 700px;
}

button {
  margin-left: 55px;
  margin-top: 20px;
}

.btn {
  font-family: 'Press Start 2P';
}

#score-display {
  margin-left: 57px;
  font-size: 16px;
  font-family: 'Press Start 2P';
}

body {
  background-image: url('https://images.pexels.com/photos/7130555/pexels-photo-7130555.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

.card {
  margin-bottom: 20px;
  background-color: lavender;
}