/* you can add to or change this. */

#game div {
  border: 1px solid black;
  width: 80px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

.card-item {
  border-radius: 10%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

h1 {
  text-align: center;
  padding: 30px;
}

.container {
  width: 700px;
  background-image: url('https://images.pexels.com/photos/7130555/pexels-photo-7130555.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

button {
  margin-left: 20px;
}

#score-display {
  margin-left: 20px;
  font-size: 20px;
  font-family: monospace;
}